<div class='footer'>
    <div class="col-12 col-md-6 offset-md-3 col-xl-2 offset-md-3 offset-xl-5">

        <h3 class="footer-contact-title text-center">{{ "Me contacter" | trans }}</h3>
        <div class="d-flex flex-column">
            <a href="https://www.linkedin.com/in/guillaume-bretzner-a13b10138" target="_blank" rel="noopener" class="footer-link"><img src="{{ asset("img/icons/linkedin_icon.png") }}" class="footer-icon" alt="Icône LinkedIn" /><span class="icon-placeholder">Guillaume Bretzner</span></a>
            <a href="/{{ app.request.locale }}/contact" class="footer-link" target="_blank" rel="noopener"><img src="{{ asset("img/icons/envelope.jpg") }}" class='footer-icon' alt="Icône E-Mail" /><span class="icon-placeholder">{{ "Formulaire de contact" | trans }}</span></a>
            <a href="https://twitter.com/Guibret67" class="footer-link" target="_blank" rel="noopener"><img src="{{ asset("img/icons/twitter.jpg") }}" class="footer-icon" alt="Icône Twitter" /><span class="icon-placeholder">@GuiBret67</span></a>
        </div>
    </div>

</div>

<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
