<!doctype html>
{% if projet.nom_short == "pcec" %} {# Pour le projet Wordpress, à enlever quand j'aurai à l'intégrer sur cet hébergeur #}
    {% set chemin_projet = "http://sitechalet.esy.es" %}
{% elseif projet.nom_short == "resfoot" %}
    {% set chemin_projet = "http://vps496160.ovh.net/resultats/" %}
{% elseif projet.nom_short == "backres" %}
    {% set chemin_projet = "http://vps496160.ovh.net/back-resultats/" %}
{% else %}
    {%  set chemin_projet = "../mes-projets/#{ projet.nom_short }" %}
{% endif %}

<html>
    <head>
        {{ include("CoreBundle:Default:headLinks.html.twig", { "pagename": projet.nom }) }}

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>

        {% stylesheets filter='scssphp' output='css/fichier-projet.css'
        'css/projet.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
    {{ include("CoreBundle:Default:header.html.twig", {"projets": projets, "path": path, "personal_projects": personal_projects}) }}

    <div class='container-fluid content'>
                <h2 class='text-center main-title' id="nom_projet">{{ projet.nom | trans }}</h2>
                <div class='row d-flex flex-column-reverse flex-lg-row'>

                    <div class='col-12 col-lg-5 offset-lg-1'>

                        <h3 class="text-center text-md-left" id="titre-description-projet">{{ "Description du projet" | trans }}</h3>
                        <div class='col-xs-11 col-xs-offset-1' id="bloc-description">
                            <p class="text-justify description-projet">{{ projet.description | raw }}</p>
                            {% if projet.nom_short == "pcec" %}
                                <i>Note : Pour des raisons de compatibilité, ce site n'est pas encore hébergé ici, mais sur un autre domaine, beaucoup plus lent.</i>
                            {% endif %}
                        </div>
                        <div class='col-xs-11 col-xs-offset-1' id='bloc-competences'>
                            <h4>{{ "Technologies utilisées" | trans }}</h4>
                            <ul id="liste-competences">
                                {% for competence in competences %}
                                    <li class="elem-competence">{{ competence.nom_fct }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="bloc-liens">
                            <h4>{{ "Liens" | trans }}</h4>
                            <div class="col-10 offset-1 text-center d-flex flex-column flex-md-row" id='liens'>
                                <span class="span-btn-projet"> <a class="btn-projet" href={{ chemin_projet }}>{{ "Aller vers le projet" | trans }}</a></span>
                                <span class="span-btn-projet"><a class="btn-projet" href="{{ projet.lien_repo }}">{{ "Voir le depôt GitHub" | trans }}</a></span>
                                {% if projet.lien_soutenance is not empty %}
                                    <span class="span-btn-projet"><a class="btn-projet" href="{{ projet.lien_soutenance }}">{{ "Voir la soutenance" | trans }}</a></span>
                                {% endif %}
                            </div>
                        </div>
                        {% if ressources is not empty %}
                        <h4 class='col-xs-offset-1'>{{ "Ressources" | trans }}</h4>
                        <div class='col-xs-10' id='ressources'>
                            <ul>
                                {% for ressource in ressources %}
                                    <li><a href="{{ ressource.url_ressource }}">{{ ressource.nom_ressource }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if variations is not empty %}
                            <h4>{{ "Variantes" | trans }}</h4>

                            <div class="variations">
                                {% for variation in variations %}

                                    <h6 class="titre-variation offset-1">{{ variation.nom | trans }}</h6>

                                    <div class="variation col-10 offset-1 text-center d-flex flex-column flex-sm-row" id='liens'>
                                        <span class="span-btn-projet"> <a class="btn-projet" href={{ variation.lien_projet }}>{{ "Aller vers le projet" | trans }}</a></span>
                                        <span class="span-btn-projet"><a class="btn-projet" href="{{ variation.lien_github }}">{{ "Voir le depôt GitHub" | trans }}</a></span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class='col-12 col-md-10 offset-md-1 col-lg-5 text-center'>
                        {% if images is not empty %}
                        <div class="carousel">
                            {% for image in images %}
                                <div class="carousel-element">
                                    <img src="{{asset("img/project-images/#{image.url}")}}"  />
                                    <span class="placeholder">{{image.placeholder}}</span>
                                </div>

                            {% endfor %}
                        </div>

                    {% else %}

                        <img src="{{ asset("img/screen-#{ projet.nom_short }\.png" ) }}" width="100%" id='img-projet'/>
                    {% endif %}

                    </div>
                </div>
                {% if projet.type_projet == 0 %} <!-- Si projet formation -->
                <div class='cdc col-12 col-lg-5 offset-lg-1'>
                    <h3 class='text-left cdc-title'>{{ "Cahier des charges" | trans }} <img src='{{ asset("img/arrow.png")}}' class="projet-arrow"/></h3>
                    <div class='cdc-content'>{{include("CoreBundle:CDC:#{locale}/#{ projet.nom_short }.html.twig") }}</div>
                </div>

                {% endif %}

            </div>
        {{ include('CoreBundle:Default:footer.html.twig') }}

        {{ include("CoreBundle:Default:scriptLinks.html.twig") }}

        <script src="/js/projet.js"></script>
        <!--
        {% javascripts filter='jsqueeze'
        'js/projet.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %} -->


        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </body>

</html>
